@font-face { 
    font-family: 'Kapakana'; 
    src: url('../../assets/kapakana-font/Kapakana-VariableFont_wght.ttf') 
    format('truetype');
}

body {
  margin: 0;
  padding: 0;

  background-image: url("../../assets/checkered-floor.png"); /* change to your file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-container { 
    position: relative; 
    display: inline-block; 
} 
.foreground-photo {
  width: 950px;        
  padding-left: 10px;
}
