@font-face { 
    font-family: 'Kapakana'; 
    src: url('./assets/kapakana-font/Kapakana-VariableFont_wght.ttf') 
    format('truetype');
}

body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/checkered-floor.png"); /* change to your file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-container { 
    position: relative; display: inline-block; 
} 
.foreground-photo {
  width: 800px;        /* adjust size here */
  padding-left: 10px;
}
 /* Button on top of the image */ 
.photo-button { 
    position: absolute; 
    top: 60%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    padding: 10px 60px; 
    font-size: 25px; 
    font-family: 'Kapakana', sans-serif;
    color: #936A6A;
    border: none; 
    border-radius: 8px; 
    background-color:#FEE9E7; 
    cursor: pointer; 
    transition: 0.2s ease; 
} 

.photo-button:hover { 
    background-color: rgb(176, 136, 136); 
    color:#FEE9E7;
}

